.menuBlock {
}

.title {
  line-height: 1.7;
  padding-left: 2px;
  opacity: 1;
  background-color: black;
  color: white;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.textContainer {
  padding-left: 2px;
  display: grid;
  gap: 0.5;
  grid-template-columns: 0.6fr 1fr;
  & > .left > li {
    list-style-type: none;
    line-height: 0.5;
    text-align: left;
  }
  & > .right > li {
    list-style-type: none;
    line-height: 0.5;
    text-align: left;
  }
  .tag > span {
    font-style: italic;
    font-weight: bold;
    font-size: 1.2vw;
  }
}

.itemContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: space-between;
}

.link {
  color: white;
  z-index: 10;
}
