.menuBlock {
}

.title {
  line-height: 1.7;
  padding-left: 2px;
  opacity: 1;
  background-color: black;
  color: white;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.textContainer {
  padding-left: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  & > .left > li {
    list-style-type: none;
    line-height: 2;
    text-align: left;
  }
  & > .right > li {
    list-style-type: none;
    line-height: 2;
    text-align: right;
  }
}

.tags > li {
  font-family: "SuisseIntlItalic";
  text-align: right;
}

.link {
  color: white;
  z-index: 10;
}
