@font-face {
  font-family: "SuisseIntl";
  src: url(./assets/fonts/SuisseIntl-Book-WebTrial.woff);
}

@font-face {
  font-family: "SuisseIntlItalic";
  src: url(./assets/fonts/SuisseIntl-BookItalic-WebTrial.woff);
}

// small tablets/large smartphones (landscape)
$screen-sm-min: 576px;
// small tablets (portrait)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 882px;
// large tablets/desktops
$screen-xl-min: 1200px;

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// medium devices

@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// large devices

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// extra-large devices

@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

// custom devices

@mixin rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SuisseIntl";
  font-size: 1.5vw;
  @include sm {
    font-size: 2.5vw;
  }
  line-height: 2;
  color: white;
}

.mainContainer {
  position: relative;
  display: none;
  grid-template-columns: 1fr 1.4fr;
  grid-template-rows: 1fr;
  @include sm {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
  }
  overflow: hidden;
  width: 100%;
  gap: 40px;
  padding: 2%;
  height: 100vh;
}

.background {
  z-index: 0;
}

.frame {
  z-index: 20;
}

.projectPlayer {
  display: none;
}
