@font-face {
  font-family: "SuisseIntl";
  src: url(./assets/fonts/SuisseIntl-Book-WebTrial.woff);
}

@font-face {
  font-family: "SuisseIntlItalic";
  src: url(./assets/fonts/SuisseIntl-BookItalic-WebTrial.woff);
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SuisseIntl";
  font-size: 2vw;
  line-height: 2;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: auto;
  gap: 20px;
  z-index: 1;
}

.background {
  z-index: 0;
}
